  /********/
 /* Main */
/********/

:root {
    --main-color:#000;
    --highlight-color:#fff;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: Segoe UI;
}

p, a, span {
	color: var(--main-color);
	font-size: 1em;
	text-decoration: none;
}

  /**************/
 /* Scroll Bar */
/**************/

::-webkit-scrollbar {
    display: none;
}

  /***********/
 /* Nav Bar */
/***********/

div.nav_bar {
	position: fixed;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}
.nav_bar ul li a span.dot{
	margin: -0.2em 0;
	border: 0.2em solid var(--main-color);
	position: relative;
	display: inline-block;
	background-color: var(--main-color);
	height: 0.8em;
	width: 0.8em;
	border-radius: 40%;
	-webkit-transition: -webkit-transform .2s,background-color .5s;
	-moz-transition: -moz-transform .2s,background-color .5s;
	transition: transform .2s,background-color .5s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	transform: scale(.6);
	padding: 0;
	box-shadow: 0 0 0.1em var(--highlight-color);
}

.nav_bar ul li a.is-selected span.dot{
	background-color: var(--highlight-color);
}

.nav_bar ul li a span.label{
	position: relative;
	-webkit-transition: -webkit-transform .2s,opacity .2s;
	-moz-transition: -moz-transform .2s,opacity .2s;
	transition: transform .2s,opacity .2s;
	opacity: 0;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	margin-left: 0.5em;
	font-weight: bold;
}

.nav_bar ul li a:hover span.dot{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.nav_bar ul li a:hover span.label{
	opacity: 1;
}

ul {
	list-style: none;
	padding-left: 0.5em;
	margin-top: 0;
	margin-bottom: 0;
}


  /*****************/
 /* Contact Icons */
/*****************/

div.contactBlock {
	display: inline-block;
	position: fixed;
	right: 0;
	height: 2.5em;
	top: 0.6em;
	z-index: 1;
}

.contactIcon {
	padding-right: 0.4em;
	display: inline;
	color: var(--main-color);
}

  /**************/
 /*    Logo    */
/**************/

.logo {
	position: fixed;
	right: 0.5em;
	bottom: 0.5em;
	height: 3em;
	z-index: 1;
}

  /**************/
 /* Background */
/**************/

.background_layer {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.background_one {
	padding-top: 3em;
	text-align: center;
	background-color: #808080;
}
.background_two {
	background-color: #d0d0d0;
}
.background_three {
	background-color: #a0a0a0;
}
.background_four {
	background-color: #c0c0c0;
}
.background_five {
	background-color: #707070;
}